:root {
    --white: #fff;
    --gray: #c3c3c3;
    --gray-dark: #343a40;
    --primary: #000b5e;
    --secondary: #16c1f3;
    --tertiary: #e600a0;
    --success: #28a745;
    --info: #5bc0de;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #e3e3e3;
    --dark: #34b0dd
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 4px;
    background-color: #c1c1c1
}

::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 4px;
    background-color: #c1c1c1
}

::-webkit-scrollbar-track {
    padding: 6px
}

*,
::before,
::after {
    box-sizing: border-box;
}


html {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family:'Montserrat',sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #444;
}

.hidden {
    display: none
}

main {
    display: block;
}


h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}


pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: var(--primary);
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}

a:hover {
    color: var(--secondary);
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}


small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Forms */


button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}


button,
input {
    overflow: visible;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    outline: nonel
}

::placeholder {
    color: #999;
}


fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0; /* 3 */
    white-space: normal;
}


progress {
    vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

.animation {
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}

ol,
ul {
    padding: 0 0 0 40px;
    margin: 0;
}

.text-center {
    text-align: center;
}

.button {
    display: inline-block;
    vertical-align: middle;
    margin: 1rem auto;
    padding: 1em 1.5em;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color .25s ease-out,color .25s ease-out;
    font-family: inherit;
    -webkit-appearance: none;
    line-height: 1;
    cursor: pointer;
    background-color: #6696d5;
    color: #fff;
    font-weight: 600
}

.button.cta {
    background-color: #fff;
    color: #6696d5;
    border-radius: 25px;
    margin: 25px auto;
}

.input-text {
    display: block;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    padding: 5px 10px;
    width: 100%;
}


.mb0 {
    margin-bottom: 0 !important
}
